<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div>
        <h1>Weather app</h1>
    </div>
    <div>
        <form method="POST" action="/" id="weatherForm">

            <label for="latitude">Latitude :</label>
            <input type="text" name="latitude" id="latitude">

            <label for="longitude">Longitude :</label>
            <input type="text" name="longitude" id="longitude">

            <button type="button" onclick="fetchLocation()">Fetch Location</button>

            <button type="submit">Get Weather</button>

        </form>

    </div>

    <div>
        {% if temp_celsius %}
        <p> temperature :{{temp_celsius}} c</p>
        <p> Weather :{{weather}} </p>
        <p> City :{{city_name}} </p>
        <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="Weather Icon">

        {% endif %}
        {% if error_message %}
        <p>error :{{error_message}}</p>
        {% endif %}
    </div>

    <script src="{{url_for('static',filename='js/scripts.js') }}" ></script>
</body>

</html>
